<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <!-- Environment variables/entries -->

    <env-entry>
        <!-- (String)ctxt.lookup("java:/comp/env/appEnvironment"); -->
        <env-entry-name>appEnvironment</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>test</env-entry-value>
    </env-entry>
    <servlet>
        <servlet-name>InviteRequest</servlet-name>
        <servlet-class>com.mycompany.react_chat_app_backend.InviteRequest</servlet-class>
        <init-param>
            <param-name>fromEmail</param-name>
            <param-value>your.email</param-value>
        </init-param>
        <init-param>
            <param-name>smtpEndpoint</param-name>
            <param-value>your.smtp.endpoint</param-value>
        </init-param>
        <init-param>
            <param-name>awsRegion</param-name>
            <param-value>your.aws.region</param-value>
        </init-param>
        <init-param>
            <!-- Name of the secret from the AWS Secrets Manager you're trying to extract.-->
            <param-name>awsSecretName</param-name>
            <param-value>your.aws.secret</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>InviteAccepted</servlet-name>
        <servlet-class>com.mycompany.react_chat_app_backend.InviteAccepted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFriendsList</servlet-name>
        <servlet-class>com.mycompany.react_chat_app_backend.GetFriendsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupChat</servlet-name>
        <servlet-class>com.mycompany.react_chat_app_backend.CreateGroupChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsersSavedChatGroups</servlet-name>
        <servlet-class>com.mycompany.react_chat_app_backend.GetUsersSavedChatGroups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteChatGroup</servlet-name>
        <servlet-class>com.mycompany.react_chat_app_backend.DeleteChatGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostMessageServlet</servlet-name>
        <servlet-class>com.mycompany.react_chat_app_backend.PostMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLatestMessages</servlet-name>
        <servlet-class>com.mycompany.react_chat_app_backend.GetLatestMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromChatGroup</servlet-name>
        <servlet-class>com.mycompany.react_chat_app_backend.RemoveFromChatGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveImage</servlet-name>
        <servlet-class>com.mycompany.react_chat_app_backend.SaveImage</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>InviteRequest</servlet-name>
        <url-pattern>/InviteRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InviteAccepted</servlet-name>
        <url-pattern>/InviteAccepted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFriendsList</servlet-name>
        <url-pattern>/GetFriendsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupChat</servlet-name>
        <url-pattern>/CreateGroupChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsersSavedChatGroups</servlet-name>
        <url-pattern>/GetUsersSavedChatGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteChatGroup</servlet-name>
        <url-pattern>/DeleteChatGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostMessageServlet</servlet-name>
        <url-pattern>/PostMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLatestMessages</servlet-name>
        <url-pattern>/GetLatestMessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromChatGroup</servlet-name>
        <url-pattern>/RemoveFromChatGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveImage</servlet-name>
        <url-pattern>/SaveImage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
